<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <script src="..lib/note.js"></script>
    <script src="..lib/notebook.js"></script>
    <script src="..lib/Interface.js"></script>
  </head>
  <body>
    <section id="box">
      <form>
        <h1 id="title">Notes</h1>
        <textarea id="create-note" placeholder="Your note"></textarea><br />
        <button id="submit" id="create-note-submit">Create</button>
        <h3 id="display-note-list"></h3>
        <h3 id="display-full-note"></h3>
      </form>
    </section>
  </body>
</html>
