<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <script src="../src/note.js"></script>
    <script src="../src/noteBook.js"></script>
    <script src="../src/Interface.js"></script>
  </head>
  <body>
    <section id="box">

        <h1 id="title">Notes</h1>
        <textarea id="create-note" placeholder="Your note"></textarea><br />
        <button id="submit">Create</button><br />
        <ul id="list-container">
        </ul>
        
        <!-- <h3 id="display-note-list"></h3> -->
        <h3 id="display-full-note"></h3>

    </section>
  </body>
</html>
